<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myproject.databasebackup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ehsanheidari/my-project-auth/auto_backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/ehsanheidari/my-project-auth</string>
    <key>StandardOutPath</key>
    <string>/Users/ehsanheidari/my-project-auth/backup.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ehsanheidari/my-project-auth/backup_error.log</string>
</dict>
</plist> 